@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  all: initial;
}

:host,
:host * {
  box-sizing: border-box;
  font-family:
    "SF Pro Text", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
